@{
    ViewData["Title"] = "Weather";
}

@section extraHead
{
    <link rel="stylesheet" href="~/css/WeatherPage.css"/>
    <script src="~/js/WeatherPage.js" defer></script>
}

<div class="container">
    <div id="input-field">
        <input type="text" id="location-input" placeholder="Type in a location...">
        <button id="location-send-button">Send</button>
    </div>
    <div id="weather"></div>
</div>