@{
    ViewData["Title"] = "Amoba";
}


<link rel="stylesheet" href="~/css/AmobaPage.css"/>
<script src="~/js/AmobaPage.js" defer></script>


<div class="text-center">
    <h1>Amoooba</h1>
    <div>
        <table id="amobaTable">
            
        </table>
    </div>
</div>
