@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/HomePage.css"/>
<script src="~/js/HomePage.js" defer></script>


<div class="text-center">
    <h1>Welcome to Free Time Spender</h1>
    <p>Spend your free time if you are bored at home. (or at your workplace)</p>
    <p></p>
    <h2>What would you like to do?</h2>
    <button class="button amobaButton" id="Amoba">Play Amoba</button>
    <button class="button newsButton">Read news</button>
    <button class="button button3">Red</button>
    <button class="button button4">Gray</button>
    <button class="button button5">Black</button>
</div>
