@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Free Time Spender</h1>
    <p>Spend your free time if you are bored at home, or at your workplace.</p>
    <p></p>
    <h2>What would you like to do?</h2>
</div>
