@{
    ViewData["Title"] = "TalkWithBot";
}

@section extraHead
    {
            <link rel="stylesheet" href="~/css/TalkWithBotPage.css"/>
            <script src="~/js/TalkWithBotPage.js" defer></script>
}

<div class="text-center">
    <h1 id="newsString">Talk With the ChatGPT</h1>
    
</div>
