body {
    background-color: #F0F0F0;
}

table, td, th {
    border: 1px solid white;
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;

}

table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 60px 400px;
    vertical-align: middle;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.red {
    color: red;
    background-color: lightpink;
}

.green {
    color: green;
    background-color: lightgreen;
}

.yellow {
    color: orange;
    background-color: lightgoldenrodyellow;
}