@{
    ViewData["Title"] = "News";
}

@section extraHead
    {
        <link rel="stylesheet" href="~/css/NewsPage.css"/>
        <script src="~/js/NewsPage.js" defer></script>
}

<div class="text-center">
    <h1 id="newsString">Read News</h1>
    <div id="cards">


    </div>
</div>